{% extends 'includes/layout.html' %}

{% block body %}
<main class="container">
  <div class="bg-light p-5 rounded mt-5">
    <h1>Request something ️</h1>
    <p class="lead">
      Generate an email to request something from someone
    </p>

    <h2>Provide information about the request.</h2>

    <form class="" action="/request-something" method="post">

      <div class="mb-3">
        <label class="form-label">Persons name</label>
        <input type="text" class="form-control" name="request-something-name" placeholder="eg. Shajib">
        <div class="form-text">Enter the name of the person you are requesting from.</div>
      </div>

      <div class="mb-3">
        <label class="form-label">Reason</label>
        <input type="text" class="form-control" name="request-something-reason" placeholder="eg. The book he took yesterday">
        <div class="form-text">Enter the thing that you are requesnting</div>
      </div>

      <button type="submit" class="btn btn-primary btn-lg"> 💃 GET RECOMMENDATIONS</button>

    </form>
  </div>


  <div class="p-3 rounded">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-primary">{{prompt}}</h3>
        <p class="lead">{{openAIAnswer}}</p>

      </div>
    </div>
  </div>
</main>
{% endblock %}
